---
import Card from "../components/Card.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
<meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Oversigt over components</title>
  </head>
  <body>
    <h1>Oversigt over components</h1>
    <!-- <Card titel beskrivelse deluxe nyproduceret /> -->
    <h2>Alle properties</h2>
    <section>
      <Card
      christmas={false}
    chair={true}
      deluxe={true}
      favorite={true}
      nyproduceret={false}
      link={true}
      titel="Henry Kjærnulf for Nyrup Møbelfabrik. 1960/70'erne"
      beskrivelse={true}
      naeste_bud={true}
      pris={true}
      variant="large"
    />
    <Card
    christmas={false}
    chair={true}
    deluxe={false}
    favorite={true}
    nyproduceret={true}
    link={true}
    titel="Henry Kjærnulf for Nyrup Møbelfabrik. 1960/70'erne"
    beskrivelse={true}
    naeste_bud={true}
    variant="large"
  />
  </section>
  <h2>Fremhævet vare (mobil)</h2>
  <section>
    <Card
    christmas={false}
    chair={false}
    chair_small={true}
    deluxe={false}
    nyproduceret={false}
    favorite={false}
    link={false}
    titel="Henry Kjærnulf for Nyrup Møbelfabrik. 1960/70'erne"
    beskrivelse={false}
    artikel_beskrivelse={false}
    naeste_bud={true}
    variant="small"
  />
  </section>
  <h2>Artikel (mobil)</h2>
  <section>
    <Card
    christmas={true}
    chair={false}
    deluxe={false}
    nyproduceret={false}
    link={true}
    titel="Lauritz-jul på Göholm Gods, boligreportage i Bo Bedre, julen 2020"
    beskrivelse={false}
    artikel_beskrivelse={true}
    naeste_bud={false}
    variant="large"
  />

  </section>
  <h2>Fremhævet vare (desktop)</h2>
  <section>
    <Card
    christmas={false}
    chair={false}
    chair_small={false}
    chair_medium={true}
    deluxe={false}
    nyproduceret={false}
    favorite={false}
    favorite_small={true}
    link={false}
    titel="Henry Kjærnulf for Nyrup Møbelfabrik. 1960/70'erne"
    beskrivelse={false}
    artikel_beskrivelse={false}
    naeste_bud={true}
    variant="desktop-small"
  />

  </section>
  <h2>Artikel (desktop)</h2>
  <section>
    <Card
    christmas={true}
    chair={false}
    deluxe={false}
    nyproduceret={false}
    favorite={false}
    link={true}
    titel="Lauritz-jul på Göholm Gods, boligreportage i Bo Bedre, julen 2020"
    beskrivelse={false}
    artikel_beskrivelse={true}
    naeste_bud={false}
    variant="desktop-large"
  />

  </section>
  <footer>
    Lavet i forbindelse med en caseopgave ved Københavns Erhvervsakademi på Multimediedesign uddannelsen. Lavet af Nanna, Sofie, og Mathea. 
  </footer>
  </body>
  <style>
    @media (min-width:768px){
      section{
        display:grid;
        place-content:center;
      }
    section {
      display:flex;
      justify-content: center;
      gap:3rem;
    }
  }
    h1{
    text-align:center;
  }
     h1, h2, h3, h4{
    font-family: var(--brand);
    margin:2rem;
    text-align:center;
    
  }
  footer{
    margin: 5rem;
    font-family: var(--brand);
    text-align: center;
  }
  </style>
</html>
